.cndce-rail-block{
	position: absolute;
	height: 17px;
	top: 0;
	z-index: 10;
	cursor: pointer;
}

.cndce-rail-block-prev{
	left: 0;
}


.cndce-rail{
	position: absolute;
	height: 100%;
	z-index: 10;
	top: 50%;
	bottom: 0;
	background: black;
	transform: translate(0, -50%);
	transition: transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out;;
	opacity: 1;
}
.cndce-jwplayer.next-block-hover .cndce-next-rail,
.cndce-jwplayer.prev-block-hover .cndce-prev-rail,
.jw-slider-time:hover .cndce-rail,
.jw-slider-time:focus .cndce-rail{
	transform: translate(0, -50%) scaleY(1.2);
}

/* .cndce-jwplayer .jw-slider-container{
	transition: opacity 0.3s ease-in-out;
} */

/*.cndce-jwplayer.jw-state-buffering .cndce-prev-rail,
.cndce-jwplayer.jw-state-buffering .cndce-next-rail,*/
/* .cndce-jwplayer.jw-state-buffering .jw-slider-container{
	opacity: 0;
} */

.cndce-jwplayer.jw-state-buffering .jw-knob{
	display: none;
}

.cndce-prev-rail{
	left: 0;
}

.cndce-next-rail{
	right: 0;
}

.cndce-jwplayer .jw-knob{
	z-index: 20;

	transition: opacity 0.3s ease-in-out;
}

.cndce-jwplayer.jw-state-buffering .jw-knob{
	opacity: 0;
}

.cndce-jwplayer .jw-related-btn{
	display: none;
}

.cndce-jwplayer .jw-svg-icon-buffer {
	visibility: hidden;
}


/* Shelf Widget */
.cndce-jwplayer ~ .jw-shelf-widget .jw-related-shelf{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cndce-jwplayer ~ .jw-shelf-widget .jw-related-more{
	visibility: hidden;
}

.cndce-jwplayer ~ .jw-shelf-widget .jw-related-shelf-item-image{
	display: none;
}

.cndce-jwplayer ~ .jw-shelf-widget .jw-related-shelf-item .jw-related-shelf-item-contents{
	margin: 0;
}

.cndce-jwplayer ~ .jw-shelf-widget .jw-related-shelf-item{
	background: white;
    margin: 0 0.3rem;
	padding: 0.5rem 0.7rem;
}

.cndce-jwplayer ~ .jw-shelf-widget .jw-related-control{
	margin: 0;
}

.cndce-jwplayer ~ .jw-shelf-widget .jw-related-control-left{
	margin-right: 0.7rem;
}

.cndce-jwplayer ~ .jw-shelf-widget .jw-related-control-right{
	margin-left: 0.8rem;
}
