.cndce-rail{
	position: absolute;
	height: 100%;
	z-index: 10;
	top: 50%;
	bottom: 0;
	background: black;
	transform: translate(0, -50%);
	transition: transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out;;
	opacity: 1;
}

.jw-slider-time:hover .cndce-rail,
.jw-slider-time:focus .cndce-rail{
	transform: translate(0, -50%) scaleY(1.1);
}

#myElement .jw-slider-container{
	transition: opacity 0.3s ease-in-out;
}

/*#myElement.jw-state-buffering .cndce-prev-rail,
#myElement.jw-state-buffering .cndce-next-rail,*/
#myElement.jw-state-buffering .jw-slider-container{
	opacity: 0;
}

.cndce-prev-rail{
	left: 0;
}

.cndce-next-rail{
	right: 0;
}

#myElement .jw-knob{
	z-index: 20;

	transition: opacity 0.3s ease-in-out;
}

#myElement.jw-state-buffering .jw-knob{
	opacity: 0;
}

#myElement .jw-related-btn{
	display: none;
}